<header>
    <% if flash[:success] %>
    <div class="alert alert-info">
        <%= flash[:success] %>
    </div>
    <% end %>

    <% if flash[:error] %>
    <div class="alert alert-danger">
        <%= flash[:error] %>
    </div>
    <% end %>
    <h3>Edit Media</h3>
</header>
<%= render partial: "form" %>